.about {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  letter-spacing: 0.5em;

  &__inner {
    padding-top: 149px;
    padding-bottom: 120px;
    width: 860px;
    max-width: 1180px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 0 auto;
  }
  &__title {
    font-size: 28px;
    line-height: 2em;
    writing-mode: vertical-rl;
    text-indent: -2em;
  }
  &__text {
    font-size: 16px;
    line-height: 22px;
    line-height: 2;
    writing-mode: vertical-rl;
  }
  &__author {
    font-size: 22px;
    line-height: 32px;
    text-align: end;
    writing-mode: vertical-rl;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    &__inner {
      width: 680px;
    }
  }

  @media screen and (max-width: 767px) {
    letter-spacing: 0.25em;
    &__inner {
      display: block;
      width: 100%;
      padding: 50px 0 40px 20px;
    }
    &__title {
      writing-mode: horizontal-tb;
      font-size: 20px;
      padding-bottom: 30px;
      text-indent: 0;
    }
    &__text {
      writing-mode: horizontal-tb;
      font-size: 8px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    &__author {
      writing-mode: horizontal-tb;
      padding-right: 40px;
      font-size: 18px;
    }
  }
}
