
footer.footer
  .footer__inner
    ul.footer__list
      li.footer__list-item
        a.footer__link(href="../room/index.html") お部屋
      li.footer__list-item
        a.footer__link(href="../cook/index.html") お料理
      li.footer__list-item
        a.footer__link(href="../onsen/index.html") 温泉
    div
      img.footer__logo(src="../images/footer-logo.png", alt="ロゴ")
    .footer__address
      p.footer__text 〒000-0000<span class="footer__text-space">山形県鶴岡市xxxxxxxxxx</span>
      p.footer__text TEL.000-0000-0000<span class="footer__text-space">FAX.00-0000-0000</span>
  .footer__bottom
      p.footer__copyright Copyright © 石井花壇 All Rights Reserved.

include ./_script
