extends ./includes/_layout.pug
block titles
  - var title = '石井花壇 | 温海温泉旅館【公式サイト】'
block content

  include ./includes/_top-header.pug

  //-top
  section.top
    //- swiper
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .slide-img
            img.top__img(src="./images/mainbg01.jpg", alt="メイン画像1")
        .swiper-slide
          .slide-img
            img.top__img(src="./images/mainbg02.jpg", alt="メイン画像2")
        .swiper-slide
          .slide-img
            img.top__img(src="./images/mainbg03.jpg", alt="メイン画像3")
        h2.top__title 頑張る人の<br/>頑張らない時間
    //- swiper
  include ./includes/_modal.pug
  //-top

  //- about
  section.about
    .about__inner(data-aos="fade-up")
      h2.about__title 温海温泉の<br />美しさにいやされて
      p.about__text 東北の奥座敷である温海温泉郷<br />開温は約１３００年前とされ、約小角が<br />発見したと伝えられます
      p.about__text 石井花壇は江戸より続く由緒ある旅館で<br />クラシックな作りの中に大正ロマンあふれる<br />内装を残しております
      p.about__text 圧倒的癒やしの空間で <br />頑張る現代人に<br />頑張らない圧倒的な非日常をご提供します
      p.about__author 石井花壇
  //- about


  //- media
  section.media
    .media__block(data-aos="fade-up")
      figre.media__img-wrapper
        img.media__img(src="../images/oheya-top.jpg", alt="お部屋トップ")
      div.media__body
        h3.media__title 喧騒から離れた空間<br />心落ち着く至極のひととき
        p.media__text まるで時が止まったかのような、圧倒的な静寂のなかで、<br />ひたすらにゆったりと・・・。 <br />最高級の「何もしない時間」をお過ごしください。
        a.media__btn.btn(href="./room/index.html")  お部屋について
    .media__block.media__block--reverse(data-aos="fade-up")
      figre.media__img-wrapper
        img.media__img(src="../images/menu-top.jpg", alt="メニュートップ")
      div.media__body
        h3.media__title 出迎えるのは<br />極上の温海料理
        p.media__text 最も旬の食材を愉しむ、最高の贅沢を<br />最高級A5ランクの米沢牛と共に頂く。<br />あなたの人生史に残る「極上の感動」を<br />お約束します。
        a.media__btn.btn(href="./cook/index.html")  料理について
    .media__block(data-aos="fade-up")
      figre.media__img-wrapper
        img.media__img(src="../images/onsen-top.jpg", alt="温泉トップ")
      div.media__body
        h3.media__title 疲れ切った身体にやすらぎを<br />温海の源泉に癒やされて
        p.media__text 古くは弘法大師の病をも治療したと言われる熱海の泉質。<br />現代人の疲弊しきった身体を修復する最高級の湯治場として<br />ご活用ください。
        a.media__btn.btn(href="./onsen/index.html")  温泉について
  //- media

  section.plan
    .plan__head(data-aos="fade-up")
      img.plan__logo(src="../images/logo02.png", alt="ロゴ０２")
      h2.plan__head-title おすすめご宿泊プラン
    .plan__wrapper
      .plan__item.plan__block(data-aos="fade-up" data-aos-duration="00")
        figure.plan__img-wrapper
          img.plan__img(src="../images/recommended01.png", alt="プラン０１")
        .plan__body
          h3.plan__title 朝食付きプラン、日本近海で取れた<br />のどぐろを朝食として・・・。
          p.plan__text 最高級と称されるのどぐろ、正式には「アカ<br />ムツ」と」呼ばれている魚、味は独特の上品な味わ<br />いで、焼いても煮ても美味
      .plan__item.plan__block(data-aos="fade-up" data-aos-duration="600")
        figure.plan__img-wrapper
          img.plan__img(src="../images/recommended02.png", alt="プラン０２")
        .plan__body
          h3.plan__title 【期間限定】熱海蟹をたっぷりと<br />愉しむプラン。
          p.plan__text 温海で水揚げされた蟹は「温海蟹」<br />として知られ、嗜好品として愛されて<br />きました。この宿泊プランでは存分に
      .plan__item.plan__block(data-aos="fade-up" data-aos-duration="900")
        figure.plan__img-wrapper
          img.plan__img(src="../images/recommended03.png", alt="プラン０３")
        .plan__body
          h3.plan__title 【平日限定】贅沢美味懐石プラン。<br />海辺の四季旬彩プラン。
          p.plan__text 熱海近海で取れた魚を鮮度そのままに舟盛りに<br />してご提供。生きた味をお楽しみください。

  //- news
  section.news
    .news__head(data-aos="fade-up")
      img.news__logo(src="../images/logo02.png", alt="ロゴ")
      h2.news__title お知らせ
    ul.news__nav(data-aos="fade-up")
      li.news__nav-item.js-active 営業情報
      li.news__nav-item その他
    .news__wrapper.js-show(data-aos="fade-up")
      .news__inner
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news01.png", alt="news1")
            .news__textBox
              time.news__time 2020.12.24
              p.news__text 年末最後の営業日は27日になります。
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news02.png", alt="news2")
            .news__textBox
              time.news__time 2020.12.24
              p.news__text 年末最後の営業日のお知らせ
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news02.png", alt="news2")
            .news__textBox
              time.news__time 2020.12.11
              p.news__text 12.21は臨時休業とさせていただきますので、よろしく<br class="sp_br"/>お願いします。
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news01.png", alt="news1")
            .news__textBox
              time.news__time 2020.12.24
              p.news__text 年末最後の営業日のお知らせ
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news01.png", alt="news1")
            .news__textBox
              time.news__time 2020.12.01
              p.news__text 和室の改装を行いますため、12.10はお休み<br class="sp_br"/>させていただきます。
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news02.png", alt="news2")
            .news__textBox
              time.news__time 2020.12.24
              p.news__text 年末最後の営業日のお知らせ
    .news__wrapper
      .news__inner
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news01.png", alt="news1")
            .news__textBox
              time.news__time 2020.12.24
              p.news__text 年末最後の営業日は27日になります。
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news02.png", alt="news2")
            .news__textBox
              time.news__time 2020.12.24
              p.news__text 年末最後の営業日のお知らせ
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news02.png", alt="news2")
            .news__textBox
              time.news__time 2020.12.11
              p.news__text 12.21は臨時休業とさせていただきますので、よろしく<br class="sp_br"/>お願いします。
        a.news__link(href="#")
          .news__item
            img.news__img(src="../images/news01.png", alt="news1")
            .news__textBox
              time.news__time 2020.12.24
              p.news__text 年末最後の営業日のお知らせ
  //- news

  //- acess
  section.acess
    .acess__head(data-aos="fade-up")
      img.acess__logo(src="../images/logo02.png", alt="ロゴ")
      h2.acess__title アクセス
    .acess__box(data-aos="fade-up")
      img.acess__img(src="../images/acess.jpg", alt="アクセスイメージ")
      address.acess__address
        h3 住所
        p 〒000-0000<br />山形県鶴岡市xxxxxxxxxx
        h3 TEL/FAX
        p 000-0000-0000/00-0000-0000
        h3 営業時間
        p 14:00-23:00
        p ＊４名いじょうのご予約の場合は、最寄り駅の「鶴岡駅」より送迎が可能ですので、<br class="sp_br"/>ご連絡ください
    .acess__map(data-aos="fade-up")
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59240.807526960125!2d139.55545323603693!3d38.61644292562527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8c6dea2642c331%3A0xcfb8a16c8602dde6!2z44GC44Gk44G_5rip5rOJ6aeF!5e0!3m2!1sja!2sjp!4v1620543210644!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  //- acess

  include ./includes/_footer.pug
