.btn {
  display: inline-blick;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  border: 2px solid transparent;

  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}
